body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--clr-sky);
    z-index: -1;
  }
  &::after {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--clr-floor);
    z-index: -1;
  }
}

.game {
  width: 100%;
}

.page {
  --opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--opacity);
  z-index: var(--opacity);
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  &__btn--start {
    font-size: 3rem;
    outline: var(--shadow-stroke-xl);
    outline-offset: -0.35rem;
    transform: translateY(-100vh);
    animation: var(--anim-show);
    animation-delay: .2s;
  }
  &__title {
    width: 70%;
    animation: var(--anim-show);
  }
}

@keyframes show {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0);
  }
}

.menu__settings {
  position: fixed;
  bottom: 5rem;
  right: 0.7rem;
  width: 12rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-radius: .5rem;
  border: 0.2rem solid var(--clr-settings-container-border);
  background: var(--clr-settings-container-bg);
  transition: var(--tra-container-settings);
  transform: translateX(10%);
  opacity: 0;

  &__btn {
    text-align: left;
    background: transparent;
    border: 0;
    color: var(--clr-settings-btn);
    padding: 0.3rem 0.2rem;
    border-radius: .3rem;
    font-size: 1.1rem;
    transition: var(--tra-settings-btn-bg);
    cursor: pointer;
  }

  &__btn:hover {
    background: var(--clr-settings-btn-bg-hover);
  }
}

.menu__settings:focus-within, .btn--settings:focus ~ .menu__settings {
  opacity: 1;
  transform: translateX(0);
}

.play {
  &__progress-bar {
    position: fixed;
    top: 1.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 44rem;
    height: 1.4rem;
    border: 0.45rem solid var(--clr-progress-bar-border);
    border-radius: 100vw;
    background: var(--clr-progress-bar-background);

    &::before {
      content: "";
      background: var(--clr-progress-bar-inner);
      border-radius: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: var(--js-width, 100%);
      transition: width 120ms;
    }
  }

  &__crackcoin-counter {
    position: fixed;
    top: 0.5rem;
    left: calc(50% + 22rem);
    width: min-content;
    height: min-content;
    padding-top: 0;
  }

  &__top-left-container {
    position: fixed;
    top: 0.5rem;
    left: 1rem;
    font-size: 1.6rem;
  }

  &__jumps-left-container {
    --time-to-regen: 1;
  
    color: var(--clr-jumps-left);
    font-family: var(--font-noto);
    font-weight: bold;
  }
  
  &__jumps-left {
    position: relative;
  
    &::before {
      --size: 1.7rem;
    
      position: absolute;
      top: 50%;
      left: 50%;
      width: var(--size);
      height: var(--size);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: conic-gradient(
        from 0deg at 50% 50%,
        var(--clr-time-to-regen-indicator) 0%,
        var(--clr-time-to-regen-indicator) calc(var(--time-to-regen) * 100%),
        transparent calc(var(--time-to-regen) * 100%),
        transparent 100%
      );
      overflow: hidden;
    }
  }

  &__highest-score {
    font-weight: var(--wght-black);
    font-family: var(--font-noto);
    background-image: var(--img-gradient-hs);
    -webkit-text-stroke: var(--stroke-hs);
    background-clip: text;
    color: transparent;
  }
}

.paused {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    text-align: center;
    color: var(--clr-paused-title);
    font-family: var(--font-noto);
    font-weight: var(--wght-black);
    font-size: 5rem;
    margin-bottom: 12rem;
  }

  &__overlay {
    background: var(--clr-paused-overlay);
    backdrop-filter: blur(0.1rem);
    z-index: -1;
  }
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__overlay {
    background: var(--clr-game-over-overlay);
    backdrop-filter: blur(0.1rem);
  }

  &__click-overlay {
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }

  &__title {
    color: var(--clr-game-over-title);
    font-size: 5rem;
    padding-bottom: 2rem;
    font-family: var(--font-noto);
    font-weight: var(--wght-black);
    z-index: 2;
  }
  &__info {
    color: var(--clr-game-over-info);
    font-size: 2.5rem;
    font-family: var(--font-roboto);
    z-index: 1;
  }

  &__score {
    font-family: var(--font-roboto);
    font-size: 2.5rem;
    font-weight: var(--wght-medium);
    margin-bottom: 7rem;
    color: transparent;
    background-image: var(--img-gradient-primary);
    background-clip: text;
    z-index: 1;
  }

  &__new-record {
    position: fixed;
    top: 11rem;
    left: calc(50% + 7rem);
    background: var(--img-gradient-hs);
    -webkit-text-stroke: var(--stroke-hs);
    color: transparent;
    background-clip: text;
    font-size: 3rem;
    font-weight: var(--wght-black);
    font-family: var(--font-noto);
    animation: new-record 1s alternate infinite ease-in-out;
    opacity: 0;
    z-index: 1;

    &.show {
      opacity: 1;
    }
  }
}

@keyframes new-record {
  from {
    transform: scale(0.7) rotate(20deg);
  }

  to {
    transform: scale(1) rotate(20deg);
  }
}

