@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
html {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
  text-wrap: balance;
}
body {
  background: #f1f1f1
}
#game {
  width: 100%;
}
:root {
  --clr-primary: linear-gradient(#FA1F11, #FA6511);
  --clr-stroke: rgba(0, 0, 0, 55%);
  --clr-HS: linear-gradient(to top, #FF8A00, #FFE500);
  --clr-time-to-regen-indicator: rgb(255 255 255 / 27%);
  --stroke-HS: 0.03em rgba(0, 0, 0, 70%);
  --stroke: solid 0.1em var(--clr-stroke);
  --shadow: rgba(0, 0, 0, 25%) 0.4rem 0.4rem;
}
.page {
  --opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--opacity);
  z-index: var(--opacity);
}
.button {
  z-index: 3;
  background: transparent;
  padding: 0.2em 1.4em;
  font-size: 2.3em;
  border-radius: 0.4em;
  box-shadow: var(--shadow);
  border: none;
  outline: var(--stroke);
  outline-offset: -0.1em;
  color: var(--clr-stroke);
  font-weight: 500;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: var(--clr-primary);
  transition: transform .1s ease-out;
  z-index: -1;
}
.button:hover::before, .button:focus::before {
  transform: translateY(-16%);
}
.button-start {
  font-size: 3.5em;
}
.button-pause {
  --btn-width: 0.8em;
  --btn-gap: 0.3em;
  border-radius: 50%;
  padding: var(--btn-width);
  position: fixed;
  right: var(--btn-gap);
  top: var(--btn-gap);
}
.button-pause > img {
  position: absolute;
  width: calc(var(--btn-width) - 0.1em);
  transform: translate(-50%, -50%);
}
.button-back {
  --btn-width: 0.8em;
  --btn-gap: 0.3em;
  border-radius: 0.3em;
  padding: calc(var(--btn-width) - 0.1em);
  position: fixed;
  left: var(--btn-gap);
  top: var(--btn-gap);
}
.button-back > img {
  position: absolute;
  width: var(--btn-width);
  transform: translate(-50%, -50%);
}
.game-over__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(62, 0, 0, 45%);
  backdrop-filter: blur(0.1rem);
  border: none;
}
#gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-over__title {
  font-family: "Noto Sans";
  font-weight: 900;
  color: #C00000;
  z-index: 2;
  font-size: 4em;
  padding-bottom: 1.5em;
}
.game-over__info {
  z-index: 1;
  font-size: 2.5em;
  font-family: "Roboto";
  color: #A1A1A1;
}
.game-over__click-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.title {
  width: 70%;
}
.play__jumps-left-container {
  --time-to-regen: 1;
  position: fixed;
  top: 0.7rem;
  left: 1rem;
  font-size: 1.6em;
  color: #f1f1f1;
  font-family: "Noto Sans";
  font-weight: 700;
}
.play__jumps-left {
  position: relative;
}
.play__jumps-left::before {
  --size: 1.1em;
  content: "";
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  background: conic-gradient(from 0deg at 50% 50%, var(--clr-time-to-regen-indicator) 0%, var(--clr-time-to-regen-indicator) calc(var(--time-to-regen) * 100%), transparent calc(var(--time-to-regen) * 100%), transparent 100%);
}
#click-overlay {
  width: 100vw;
  height: 100vh;
}
#paused {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paused__title {
  text-align: center;
  color: #cacaca;
  font-family: "Noto Sans";
  font-weight: 900;
  font-size: 5em;
  margin-bottom: 3em;
}
.paused__overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 26%);
  backdrop-filter: blur(0.1rem);
}
.game-over__score {
  font-size: 2.5em;
  font-weight: 600;
  z-index: 1;
  margin-bottom: 2em;
  color: transparent;
  background-image: var(--clr-primary);
  background-clip: text;
  -webkit-background-clip: text;
}
#highest-score {
  position: fixed;
  top: 1.7em;
  left: 1rem;
  font-size: 1.6em;
  font-weight: 800;
  font-family: "Noto Sans";
  background-image: var(--clr-HS);
  -webkit-text-stroke: var(--stroke-HS);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#new-record {
  top: 7rem;
  right: 19rem;
  position: fixed;
  background: var(--clr-HS);
  -webkit-text-stroke: var(--stroke-HS);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2.5em;
  font-weight: 800;
  animation: new-record 1s alternate infinite ease-in-out;
  opacity: 0;
  z-index: 1;
}
#new-record.show {
  opacity: 1;
}
@keyframes new-record {
  from {
    transform: scale(0.7) rotate(20deg);
  }
  to {
    transform: scale(1) rotate(20deg);
  }
}
