@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
html {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
  text-wrap: balance;
}
body {
  background: #f1f1f1
}
#game {
  width: 100%;
}
:root {
  --clr-primary: linear-gradient(#FA2D11, #FA6511);
  --clr-stroke: rgba(0, 0, 0, 55%);
  --stroke: inset var(--clr-stroke) 0 0 0 0.08em;
  --shadow: rgba(0, 0, 0, 25%) 0.4rem 0.4rem;
}
.page {
  --opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--opacity);
  z-index: var(--opacity);
}
.button {
  z-index: 3;
  background: var(--clr-primary);
  padding: 0.2em 1.4em;
  font-size: 2.3em;
  border-radius: 0.4em;
  border: none;
  box-shadow: var(--stroke), var(--shadow);
  color: var(--clr-stroke);
  font-weight: 500;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.button-start {
  font-size: 3.5em;
}
.button-pause {
  --btn-width: 0.8em;
  --btn-gap: 0.3em;
  border-radius: 50%;
  padding: var(--btn-width);
  position: fixed;
  right: var(--btn-gap);
  top: var(--btn-gap);
}
.button-pause > img {
  position: absolute;
  width: calc(var(--btn-width) - 0.1em);
  transform: translate(-50%, -50%);
}
.button-back {
  --btn-width: 0.8em;
  --btn-gap: 0.3em;
  border-radius: 0.3em;
  padding: calc(var(--btn-width) - 0.1em);
  position: fixed;
  left: var(--btn-gap);
  top: var(--btn-gap);
}
.button-back > img {
  position: absolute;
  width: var(--btn-width);
  transform: translate(-50%, -50%);
}
.game-over__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(62, 0, 0, 45%);
  backdrop-filter: blur(0.1rem);
  border: none;
}
#gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-over__title {
  font-family: "Noto Sans";
  font-weight: 900;
  color: #C00000;
  z-index: 2;
  font-size: 4em;
  padding-bottom: 1.5em;
}
.game-over__info {
  z-index: 1;
  font-size: 2.5em;
  font-family: "Roboto";
  color: #A1A1A1;
}
.game-over__click-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.title {
  width: 70%;
}
#jumps-left {
  position: fixed;
  top: 0.7rem;
  left: 1rem;
  font-size: 1.6em;
  color: #f1f1f1;
  font-family: "Noto Sans";
  font-weight: 700;
}
#click-overlay {
  width: 100vw;
  height: 100vh;
}
#paused {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paused__title {
  color: #cacaca;
  font-family: "Noto Sans";
  font-weight: 900;
  font-size: 5em;
  margin-bottom: 3em;
}
.paused__overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 26%);
  backdrop-filter: blur(0.1rem);
}
.game-over__score {
  font-size: 2.5em;
  font-weight: 600;
  z-index: 1;
  margin-bottom: 2em;
  color: transparent;
  background-image: var(--clr-primary);
  background-clip: text;
  -webkit-background-clip: text;
}
