*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
::before, ::after {
  content: "";
}

html {
  text-wrap: balance;
}

:root, ::backdrop {
  --img-gradient-primary: linear-gradient(hsl(4, 96%, 52%), hsl(22, 96%, 52%));
  --img-gradient-hs: linear-gradient(to top, hsl(32, 100%, 50%), hsl(54, 100%, 50%));

  --clr-stroke: hsla(0, 0%, 0%, 0.55);
  --clr-time-to-regen-indicator: hsla(0, 0%, 100%, 0.27);
  --clr-yes: hsl(115, 63%, 49%);
  --clr-no: hsl(11, 96%, 52%);
  --clr-sky: hsl(209, 100%, 51%);
  --clr-floor: hsl(25, 100%, 23%);

  --clr-paused-overlay: hsla(0, 0%, 0%, 0.26);
  --clr-paused-title: hsl(0, 0%, 79%);

  --clr-game-over-overlay: hsla(0, 56%, 14%, 0.45);
  --clr-game-over-title: hsl(0, 100%, 38%);
  --clr-game-over-info: hsl(0, 0%, 63%);

  --clr-popup-title: hsla(0, 0%, 7%, 0.9);
  --clr-popup-bg: hsla(0, 0%, 85%, 0.4);
  --clr-popup-backdrop: hsla(0, 0%, 0%, 20%);
  --clr-jumps-left: hsl(0, 0%, 95%);

  --clr-settings-container-border: hsl(0, 0%, 74%);
  --clr-settings-container-bg: hsl(0, 0%, 93%);
  --clr-settings-btn: hsl(0, 0%, 20%);
  --clr-settings-btn-bg-hover: hsla(0, 0%, 20%, 0.2);

  --stroke-hs: 0.03rem hsla(0, 0%, 0%, 0.7);

  --shadow-stroke-xs: solid 0.15rem var(--clr-stroke);
  --shadow-stroke: solid 0.25rem var(--clr-stroke);
  --shadow-stroke-xl: solid 0.35rem var(--clr-stroke);
  --shadow-block: hsla(0, 0%, 0%, 0.25) 0.4rem 0.4rem;
  --shadow-text: 0 0 .5rem hsla(0, 0%, 0%, 0.8), 0 0 1.5rem hsla(0, 0%, 0%, 0.3);
  --shadow-icon: drop-shadow(0 0 .5rem hsla(0, 0%, 0%, 0.4));

  --anim-show: show 0.7s cubic-bezier(0.01, 0.67, 0.49, 1.37) both;

  --font-roboto: "Roboto", arial, helvetica, sans-serif;
  --font-noto: "Noto Sans", arial, helvetica, sans-serif;

  --tra-btn-bg: transform .1s ease-out;
  --tra-icon-settings: transform .5s ease-out;
  --tra-container-settings: opacity .2s ease-out, transform .2s ease-out;
  --tra-settings-btn-bg: background-color .2s ease-out;
  --tra-btn-brightness: filter .2 ease-out;

  --wght-medium: 500;
  --wght-black: 900;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--clr-sky);
    z-index: -1;
  }
  &::after {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--clr-floor);
    z-index: -1;
  }
}

.game {
  width: 100%;
}

.page {
  --opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--opacity);
  z-index: var(--opacity);
}

.btn {
  position: relative;
  padding: 0.6rem 5rem;
  background: transparent;
  font-size: 2.3rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-block);
  border: 0;
  outline: var(--shadow-stroke);
  outline-offset: -0.25rem;
  color: var(--clr-stroke);
  font-weight: var(--wght-medium);
  font-family: var(--font-roboto);
  cursor: pointer;
  overflow: hidden;
  z-index: 3;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: var(--img-gradient-primary);
    transition: var(--tra-btn-bg);
    z-index: -1;
  }

  &:hover::before, &:focus::before {
    transform: translateY(-16%);
  }

  &--icon {
    padding: 0;
  }

  &--pause {
    --size: 3.7rem;
    --gap: 0.8rem;
  
    position: fixed;
    right: var(--gap);
    top: var(--gap);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
  }

  &__img--pause {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
  }

  &--back {
    --size: 3.7rem;
    --gap: 0.7rem;
  
    position: fixed;
    left: var(--gap);
    top: var(--gap);
    width: var(--size);
    height: var(--size);
    border-radius: 1rem;
  }

  &__img--back {
    position: absolute;
    width: 70%;
    transform: translate(-50%, -50%);
  }
  
  &--settings {
    --gap: 0.7rem;
    --size: 4rem;
  
    position: fixed;
    bottom: var(--gap);
    right: var(--gap);
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__img--settings {
    position: absolute;
    width: 80%;
    transition: var(--tra-icon-settings);
  }
  
  &--settings:focus > &__img--settings {
    transform: translate(0, 0) rotate(180deg);
  }
  
  &--yes {
    background: var(--clr-yes);
  }
  
  &--no {
    background: var(--clr-no);
  } 

  &--yes, &--no {
    font-size: 1.5rem;
    padding: .2rem 2rem;
    box-shadow: none;
    outline: var(--shadow-stroke-xs);
    outline-offset: -0.15rem;
    transition: var(--tra-btn-brightness);
  
    &::before {
      display: none;
    }

    &:hover {
      filter: brightness(130%);
    }
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  &__btn--start {
    font-size: 3rem;
    outline: var(--shadow-stroke-xl);
    outline-offset: -0.35rem;
    transform: translateY(-100vh);
    animation: var(--anim-show);
    animation-delay: .2s;
  }
  &__title {
    width: 70%;
    animation: var(--anim-show);
  }
}

@keyframes show {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0);
  }
}

.menu__settings {
  position: fixed;
  bottom: 5rem;
  right: 0.7rem;
  width: 12rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-radius: .5rem;
  border: 0.2rem solid var(--clr-settings-container-border);
  background: var(--clr-settings-container-bg);
  transition: var(--tra-container-settings);
  transform: translateX(10%);
  opacity: 0;

  &__btn {
    text-align: left;
    background: transparent;
    border: 0;
    color: var(--clr-settings-btn);
    padding: 0.3rem 0.2rem;
    border-radius: .3rem;
    font-size: 1.1rem;
    transition: var(--tra-settings-btn-bg);
    cursor: pointer;
  }

  &__btn:hover {
    background: var(--clr-settings-btn-bg-hover);
  }
}

.menu__settings:focus-within, .btn--settings:focus ~ .menu__settings {
  opacity: 1;
  transform: translateX(0);
}

.play {
  &__top-left-container {
    position: fixed;
    top: 0.5rem;
    left: 1rem;
    font-size: 1.6rem;
  }

  &__jumps-left-container {
    --time-to-regen: 1;
  
    color: var(--clr-jumps-left);
    font-family: var(--font-noto);
    font-weight: bold;
  }
  
  &__jumps-left {
    position: relative;
  
    &::before {
      --size: 1.7rem;
    
      position: absolute;
      top: 50%;
      left: 50%;
      width: var(--size);
      height: var(--size);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: conic-gradient(
        from 0deg at 50% 50%,
        var(--clr-time-to-regen-indicator) 0%,
        var(--clr-time-to-regen-indicator) calc(var(--time-to-regen) * 100%),
        transparent calc(var(--time-to-regen) * 100%),
        transparent 100%
      );
      overflow: hidden;
    }
  }

  &__highest-score {
    font-weight: var(--wght-black);
    font-family: var(--font-noto);
    background-image: var(--img-gradient-hs);
    -webkit-text-stroke: var(--stroke-hs);
    background-clip: text;
    color: transparent;
  }
}

.paused {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    text-align: center;
    color: var(--clr-paused-title);
    font-family: var(--font-noto);
    font-weight: var(--wght-black);
    font-size: 5rem;
    margin-bottom: 12rem;
  }

  &__overlay {
    background: var(--clr-paused-overlay);
    backdrop-filter: blur(0.1rem);
    z-index: -1;
  }
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__overlay {
    background: var(--clr-game-over-overlay);
    backdrop-filter: blur(0.1rem);
  }

  &__click-overlay {
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }

  &__title {
    color: var(--clr-game-over-title);
    font-size: 5rem;
    padding-bottom: 2rem;
    font-family: var(--font-noto);
    font-weight: var(--wght-black);
    z-index: 2;
  }
  &__info {
    color: var(--clr-game-over-info);
    font-size: 2.5rem;
    font-family: var(--font-roboto);
    z-index: 1;
  }

  &__score {
    font-family: var(--font-roboto);
    font-size: 2.5rem;
    font-weight: var(--wght-medium);
    margin-bottom: 7rem;
    color: transparent;
    background-image: var(--img-gradient-primary);
    background-clip: text;
    z-index: 1;
  }

  &__new-record {
    position: fixed;
    top: 7rem;
    left: calc(50% + 12rem);
    background: var(--img-gradient-hs);
    -webkit-text-stroke: var(--stroke-hs);
    color: transparent;
    background-clip: text;
    font-size: 3rem;
    font-weight: var(--wght-black);
    font-family: var(--font-noto);
    animation: new-record 1s alternate infinite ease-in-out;
    opacity: 0;
    z-index: 1;

    .show {
      opacity: 1;
    }
  }
}

@keyframes new-record {
  from {
    transform: scale(0.7) rotate(20deg);
  }

  to {
    transform: scale(1) rotate(20deg);
  }
}

.crackcoin-counter {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .7rem 1.5rem;
  font-size: 2.3rem;
  font-family: var(--font-roboto);
  color: hsl(0, 0%, 100%);
  text-shadow: var(--shadow-text);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .7rem;

  &__img {
    height: 3.2rem;
    filter: var(--shadow-icon);
  }
}

.popup {
  --border-size: .6rem;
  --radius: 1.3rem;

  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  background: hsl(280deg 0% 0% / 50%);
  padding: 1.3rem 2rem;
  max-width: 25rem;
  border-radius: var(--radius);
  overflow: hidden;

  &__title {
    color: var(--clr-popup-title);
    font-family: var(--font-roboto);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--img-gradient-primary);
    border-radius: var(--radius);
    z-index: -1;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - var(--border-size));
    height: calc(100% - var(--border-size));
    transform: translate(-50%, -50%);
    background: var(--clr-popup-bg);
    border-radius: calc(var(--radius) - var(--border-size));
    z-index: -1;
  }

  &::backdrop {
    background-color: var(--clr-popup-backdrop);
    backdrop-filter: blur(.1rem);
  }

  &__btn-wrapper {
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.7rem;
  }
}

